#slider {
  background-color: #1b1b1b;
}

#slider .background {
  height: 100%;
  width: 100%;
}

#slider .slide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}

#slider .slide.show {
  opacity: 1;
}

#slider .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15% 20%;
  background-color: rgba(0,0,0,.5);
}

.cnt-raw {
  margin: 4rem 0;
}

.slogan {
  margin: 0;
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  user-select: none;
}

.video-btn {
  position: relative;
  margin: 0;
  padding: 10px 20px;
  border: 3px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: .2s ease;
}

.video-btn:hover {
  background-color: #fff;
  color: #1b1b1b;
}
