header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  padding: 0 1rem;
}

#header-logo {
  height: 1.5rem;
  user-select: none;
}

.menu {
  margin: 0;
}

.menu-item {
  display: inline-block;
}

.menu-item a {
  display: inline-block;
  padding: 25px 25px;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  transition: .2s;
  text-decoration: none;
}

.menu-item a:hover {
  color: #DF600E;
}
